@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&family=Inter:wght@300;400;500;600&display=swap');

@theme {
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  
  --color-surface: #0b1326;
  --color-surface-container: #171f33;
  --color-surface-container-low: #131b2e;
  --color-surface-container-high: #222a3d;
  --color-surface-container-highest: #2d3449;
  --color-on-surface: #dae2fd;
  --color-on-surface-variant: #c2c6d6;
  --color-primary: #adc6ff;
  --color-primary-container: #4d8eff;
  --color-on-primary: #002e6a;
  --color-secondary: #4edea3;
  --color-tertiary: #ffb3ad;
  --color-tertiary-container: #ff5451;
  --color-outline-variant: #424754;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-body;
  }
}

.glass-card {
  background: rgba(45, 52, 73, 0.7);
  backdrop-filter: blur(12px);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #131b2e;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #2d3449;
  border-radius: 10px;
}
